* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, rgb(228, 228, 228), rgb(186, 186, 186));
}
.quiz {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border-left: 20px solid #505050;
  border-right: 20px solid #505050;
  .quiz-header {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 2.5em;    
    padding: 30px;
    font-weight: bold;
  }
}
.container {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: chocolate;
}
.questions-container {
  flex: 1;
  max-width: 600px;
  margin: 2em 0;  
  text-align: center;
}
.answers-container {
  max-width: 500px;  
  .answer {
    display: flex;
    margin-bottom: 1em;
    .form-group {
      flex:1;
    }
    label {
      flex: 9;
    }  
  }
}
.answer-inputs {
  margin: 0 1em;
}
.answer-inputs:hover {
  background: #505050;
}
.next-button {
  width: 300px;  
  padding: 10px;
  font-size: 1.1em;
  border-radius: 8px;
  margin-top: 1em;  
}
.message-correct {
  width: 500px;
  height: 35px;
  background-color: rgba(0, 255, 0, 0.4); 
  text-align: center;
  font-size: 2em;
  color: #006f00;
}
.message-wrong {
  width: 500px;
  height: 35px;
  background-color: rgb(255, 0, 0); 
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}
.counter-text {  
  
  font-size: 1.5em;
  font-weight: bold;
  .counter {
    color: white;
  }
}
.correct-counter {
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  .percentage {
    margin-top: 1em;    
    color: green;
  }
}