* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
}
.quiz {
  height: 100vh;
  width: 100vw;
  .container {
    display: flex;    
    h2 {
      flex: 1 0 100%;
    }
}
}